.main {
  position: relative;
  max-width: 100%;
  min-height: 400px;
  background-color: #2b2b2b;
  background-color: #000;
  min-height: 50px;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  transition: height 0.25s ease-in-out;
}

.heading {
  display: flex;
  max-width: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: 750;
  letter-spacing: 0.32px;
  padding: 4px 16px;
  margin: 0;
}

.subheading {
  width: 100%;
  color: #ffd000;
  font-size: 24px;
  font-weight: 750;
  letter-spacing: 0.32px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
  max-width: 100%;

  animation: 1s fade-in forwards;
}

.textContainer {
  margin-left: 16px;
}

.text {
  font-size: 13.5px;
  color: #fff;
  line-height: 18.9px;
  letter-spacing: 0.7px;
  word-spacing: 2px;
  width: 100%;
  margin: 4px;
}

.link {
  max-width: 200px;
  text-decoration: none;
}

.link:hover {
  transform: translateY(-3px);
}

.flexRow {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.image {
  border-radius: 8px;
  width: 25%;
  height: 100%;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  padding: 8px;
  background-color: #3a3a3a;
  border-radius: 100px;
  cursor: pointer;
}

.close {
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  margin-top: -2px;
  position: relative;
  width: 12px;
  height: 2px;
}

.open,
.open::after {
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
}

.open {
  margin-top: -2px;
  position: relative;
  width: 12px;
  height: 2px;
}

.open::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  top: -5px;
  left: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
