.blob {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 34vmax;
  aspect-ratio: 1;
  background-color: rgb(255, 211, 36);
  filter: blur(8vmax);
  border-radius: 50%;
  opacity: 0.3;
}
