* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  text-decoration: none;
  background-color: #111010;
}

.main-container{
  display: block;
}
