.main {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
